/Frontend/node_modules/
venv/
__pycache__/
*.pyc
.env
**/.env
Backend/CONFIG_LIST.json
Backend/conversation_log.txt
Backend/Database/*.db
Backend_old
Backend/import_check.log
Backend/.cache/